{% extends 'base.html' %}
{% block content %}
    <h2>Add a New Book</h2>
    <form method="POST">
        {{ form.hidden_tag() }}  <!-- This includes the CSRF token -->
        <label for="name">Name:</label><br>
        {{ form.name.label }} {{ form.name }}<br><br>

        <label for="release">Release Date:</label><br>
        {{ form.release.label }} {{ form.release }}<br><br>

        <label for="picture">Picture URL:</label><br>
        {{ form.picture.label }} {{ form.picture }}<br><br>

        {{ form.submit }}
    </form>
{% endblock %}