<div>
    <h2>Login</h2>
    <form action="/login" method="POST">
        <input type="email" placeholder="Email: " name="email">
        <input type="password" placeholder="Password: " name="password">
        <button type="submit">Submit</button>
    </form>
</div>

<div>
    <h2>Register</h2>
    <form method="POST" action="/register">
        {{ form.hidden_tag() }}  <!-- This automatically includes the CSRF token -->
        <div>
            {{ form.email.label }} {{ form.email }}
        </div>
        <div>
            {{ form.name.label }} {{ form.name }}
        </div>
        <div>
            {{ form.password.label }} {{ form.password }}
        </div>
        <div>
            {{ form.re_password.label }} {{ form.re_password }}
        </div>
        <div>
            {{ form.submit }}
        </div>
    </form>
    
</div>