<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/standard.css') }}">
    {% block style %}{% endblock %}
</head>
<body>
    <header>
        <button><a href="{{ url_for('reg') }}">Register</a></button>
        <button><a href="{{ url_for('log') }}">Login</a></button>
        <button><a href="{{ url_for('myBooks') }}">My Books</a></button>
    </header>
    <nav>        
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('addBook') }}">addBook</a>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <!-- <p>My Website Footer</p> -->
    </footer>
</body>
</html>